MONGO_URI=mongodb://localhost:27017/shopsage
PORT=5000

JWT_SECRET=replace-with-your-secret
JWT_REFRESH_SECRET=replace-with-your-refresh-secret
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

KHALTI_API_URL=https://dev.khalti.com/api/v2/epayment/initiate/
KHALTI_SECRET_KEY=replace-with-your-khalti-secret
KHALTI_RETURN_URL=http://localhost:5000